/* Tailwind Css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Team Section Animation */
@layer components {
  .animate-updown {
    animation-name: animate-updownAnim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes animate-updownAnim {
    from {
      transform: translateY(-30px);
    }

    to {
      transform: translateY(30px);
    }
  }
}

/* Apply Css For body Section */

/* body {
  background-image: linear-gradient(to right, #42275a, #724a6c);
} */

.gradient-one {
  background-image: linear-gradient(to right, #42275a, #724a6c);
}

.gradient-two {
  background-image: linear-gradient(to right, #5e1458, #221126);
}

.gradient-three {
  background-image: linear-gradient(to right, #8a2d48, #413f43, #172a3a);
}

.gradient-four {
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(130, 123, 107, 0.37) 97.7%
  );
}

.gradient-five {
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
}

.gradient-six {
  background-image: linear-gradient(
    108.9deg,
    rgba(21, 65, 168, 1) 4.9%,
    rgba(120, 232, 173, 1) 97%
  );
}

.gradient-seven {
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.dark {
  @apply bg-[#1A1B1F] text-white;
}
